In [8]:
%%writefile zoo.py
def hours():
    print('Open 9-5 daily')

Overwriting zoo.py

In [9]:
import zoo
zoo.hours()

Open 9-5 daily

In [10]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [11]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute("DELETE FROM book")  # Clear all existing data first

cursor.execute("INSERT INTO book VALUES ('Drago0', 'Drago', 2001)")
cursor.execute("INSERT INTO book VALUES ('Drago1', 'Drago', 2000)")
cursor.execute("INSERT INTO book VALUES ('Drago2', 'Drago', 2003)")

conn.commit()
conn.close()

In [12]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute("SELECT title FROM book ORDER BY title")

for row in cursor.fetchall():
    print(row[0])

conn.close()

Drago0
Drago1
Drago2

In [13]:
from sqlalchemy import create_engine, text

engine = create_engine('sqlite:///books.db')

with engine.connect() as conn:
    result = conn.execute(text("SELECT title FROM book ORDER BY title"))
    for row in result:
        print(row[0])

Drago0
Drago1
Drago2